name: Test
on:
  pull_request:
  push:
      branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@e2f20e631ae6d7dd3b768f56a5d2af784dd54791 # v2.5.0

      - name: Setup Go
        uses: actions/setup-go@c4a742cab115ed795e34d4513e2cf7d472deb55f # v3.3.1
        with:
          go-version: '1.18'

      - name: Bootstrap tools
        run: make bootstrap-tools

      - name: Run linters
        run: make lint

      - name: Run tests
        run: make test
